

h1 {
    color: #300331;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    margin-bottom: 25px;
}


h2 {
    color: #051424;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

h3,h4 {
    font-size: 20px;
}


h3, h4, .joinNL {
    color: #222222;
    text-align: center;
}

.mainContent {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

ul {
    padding: 0;;
}

li {
    list-style-type: none;
    border-style: solid;
    border-color: white;
}

.fun-facts {
    border-style: dashed double none ;
    margin-top: 60px;
}


.discover-work {
    margin-top: 90px;
    border-style: none double dashed;
    margin-bottom: 60px;
}

.discover-work-list {
    display: flex;
    justify-content: center;
}

.connect-button {
    color: white;
    background-color: #300331;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border-style: solid;
    border-color: white;
}

.join-newsletter {
    font-weight: bold;
    margin-top: 30px;
}

.email-input {
   width: 34%;
   line-height: 30px;
   text-align: center;
   border-radius: 10px;
   border-style: solid;
}

.newsletter-button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    width: 30%;
    background-color: #222222;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}






